<div class="container">
  <div class="row py-4">
    <div class="col-4 text-center">
      <h3>商品一覧</h3>
    </div>
    <div class="col-1 offset-6">
      <%= link_to new_admin_item_path, class: "btn btn-outline-secondary rounded-circle btn-lg" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-11 col-lg-10 mx-auto">
      <table class="table">
        <thead class="table-active">
          <tr>
            <th style="width: 10%">商品ID</th>
            <th style="width: 43%">商品名</th>
            <th style="width: 12%">税抜価格</th>
            <th style="width: 20%">ジャンル</th>
            <th style="width: 20%">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td class="align-middle"><%= item.id %></td>
              <td class="align-middle"><%= link_to item.name, admin_item_path(item) %></td>
              <td class="align-middle"><%= item.price.to_s(:delimited, delimiter: ',') %></td>
              <td class="align-middle"><%= item.genre.name %></td>
              <td class="align-middle"><%= item.is_active? ? '販売中' : '販売停止中' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="col d-flex justify-content-center">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>