<div class="container">
  <div class="row py-4">
    <div class="col-5 text-center">
      <h3>ショッピングカート</h3>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <table class="table table-bordered">
        <thead class=" table-active">
          <tr>
            <th style="width: 40%">商品名</th>
            <th style="width: 15%">単価(税込)</th>
            <th style="width: 15%">数量</th>
            <th style="width: 15%">小計</th>
            <th style="width: 15%"></th>
          </tr>
        </thead>
        <% if current_customer.cart_items.present? %>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td class="align-middle"><%= cart_item.item.name %></td>
                <td class="align-middle"><%= cart_item.item.with_tax_price.to_s(:delimited, delimiter: ',') %></td>
                <td class="align-middle">
                  <%= form_with model: cart_item, url: cart_item_path(cart_item), local: true, method: :patch do |f| %>
                    <%= f.select :amount, *[1..10] %>
                    <%= f.submit "変更",class: "btn btn-success" %>
                  <% end %>
                </td>
                <td class="align-middle"><%= cart_item.subtotal.to_s(:delimited, delimiter: ',') %></td>
                <td class="align-middle"><%= link_to "削除する", cart_item_path(cart_item.id, cart_item), method: :delete, class: "btn btn-danger mx-auto d-block" %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-3 offset-1">
      <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
    </div>
    <div class="col-4 offset-4">
      <table class="table table-bordered">
        <tbody>
          <th class="table-active">合計金額</th>
          <th>
            <% @total = 0 %>
            <% @cart_items.each do |cart_item| %>
              <% @total += cart_item.subtotal %>
            <% end %>
            <%= @total.to_s(:delimited, delimiter: ',') %>
          </th>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-4 mx-auto d-block">
      <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %>
    </div>
  </div>

</div>