<div class="container">
  <div class="row py-4">
    <div class="col-4 text-center">
      <h3>ログイン</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-10 px-5 px-sm-0 mx-auto">
      <div class="row py-2">
        <div class="col-5 text-center">
          <h5>会員の方はこちらからログイン</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <%= form_with(model: resource, local: true, url: session_path(resource_name)) do |f| %>
        <div class="field row my-3">
          <label for="email" class="col-sm-4 col-form-label">メールアドレス</label>
          <%= f.email_field :email, autofocus: true, class: "col-sm-8", autocomplete: "email" %>
        </div>

        <div class="field row mb-5">
          <label for="password" class="col-sm-4 col-form-label">パスワード</label>
          <%= f.password_field :password, class: "col-sm-8", autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary col-4 mb-5 mx-auto d-block" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-10 px-5 px-sm-0 mx-auto">
      <div class="row py-2">
        <div class="col-5 text-center">
          <h5>会員登録がお済みでない方</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col offset-3 d-flex">
      <%= render "public/shared/links" %>
      <span>　から新規登録を行なってください。</span>
    </div>
  </div>

</div>