<div class="container">
  <div class="row mt-5">

    <div class="col-2 border border-dark">
      <p class="border-bottom border-dark text-center py-2">ジャンル検索</p>
      <% @genres.each do |genre| %>
        <p><%= genre.name %></p>
      <% end %>
    </div>

    <div class="col-4">
      <%= image_tag @item.get_image, class:"img-fluid w-100" %>
    </div>

    <div class="col-6">
      <div class="row mx-2">
        <div class="col">
          <h3><%= @item.name %></h3>
        </div>
      </div>

      <div class="row mx-2">
        <div class="col">
          <p><%= @item.introduction %></p>
        </div>
      </div>

      <div class="row mx-2 mb-5">
        <div class="col">
          <h4 class="mb-0 d-inline-block">¥ <%= @item.add_tax_price %></h4>
          <span class="mb-0 d-inline-block">(税込)</span>
          <h5 class="mb-0 d-inline-block"><%= @item.is_active? ? '販売中' : '販売停止中' %></h5>
        </div>
      </div>

      <div class="row mx-2 mb-2">
        <div class="col">
          <h6>数量を選択して下さい。</h6>
        </div>
      </div>

      <div class="row mx-2">
        
      </div>

    </div>
  </div>
</div>