<div class="container">
  <div class="row mt-5">

    <div class="col-2 border border-dark">
      <p class="border-bottom border-dark text-center py-2">ジャンル検索</p>
      <% @genres.each do |genre| %>
        <p><%= genre.name %></p>
      <% end %>
    </div>

    <div class="col-4">
      <%= image_tag @item.get_image, class:"img-fluid w-100" %>
    </div>

    <div class="col-6">
      <div class="row mx-2">
        <div class="col">
          <h3><%= @item.name %></h3>
        </div>
      </div>

      <div class="row mx-2">
        <div class="col">
          <p><%= @item.introduction %></p>
        </div>
      </div>

      <div class="row mx-2 mb-5">
        <div class="col">
          <h5 class="mb-0 d-inline-block">¥ <%= @item.add_tax_price %></h5>
          <span class="mb-0 d-inline-block">(税込)</span>
          <h6 class="mb-0 d-inline-block"> <%= @item.is_active? ? '販売中' : '販売停止中' %></h6>
        </div>
      </div>

      <% if @item.is_active == true %>
        <div class="row mx-2 mb-4">
          <label class="col col-form-label">数量を選択して下さい。</label>
        </div>
        <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
          <div class="row mx-2">
            <div class="col-4">
              <%= f.select :amount, *[1..10] %>
              <%= f.hidden_field :item_id, :value => @item.id %>
            </div>

            <div class="col-4">
              <%= f.submit "カートに入れる", class: "btn btn-success d-block" %>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>